<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
    <title>Best Recipes - Explore</title>
    <h1>Explore the best authentic recipes!</h1>
{% endblock %}

{% block body %}
<ul class="recipe-list">
  {% for recipe in recipes %}
    <li>
      <h3>{{ recipe['recipe_name'] }}</h3>
      <div class="recipe-details">
        <p>Cooking Time: {{ recipe['cooking_time'] }} minutes (optional)</p>
        <p>Ingredients:</p>
        <ul class="recipe-ingredients">
          {% for ingredient in recipe['ingredients'].split(",") %}
            <li>{{ ingredient.strip() }}</li>
          {% endfor %}
        </ul>
        <p>Instructions:</p>
        <p>{{ recipe['instructions'] }}</p>
      </div>
      <div class="recipe-actions">
        <a href="{{ url_for('update_recipe', recipe_id=recipe['recipe_id']) }}" class="button update-button">Update Recipe</a>
        <form action="{{ url_for('delete_recipe', recipe_id=recipe['recipe_id']) }}" method="POST" style="display: inline-block;">
          <button type="submit" class="button delete-button" onclick="return confirm('Are you sure you want to delete this recipe?')">Delete</button>
        </form>
      </div>
    </li>
  {% endfor %}
</ul>

{% endblock %}
